
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.navbar > .container{
	display: block;
}

.navbar-nav{
	display: block;
}

.nav > li{
	margin-right: 5px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


body {
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100%;
}

#searchfrm{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: all 1s;
    width: 30px;
    height: 30px;
    background: white;
    box-sizing: border-box;
    border-radius: 25px;
    border: 4px solid white;
    padding: 5px;
    margin-left: 70%;
    margin-top: 25%;
}
@media screen and (max-width: 600px) {
  #searchfrm{
    position: absolute;
    top: 10%;
    left: 0;
    transform: translate(-50%,-50%);
    transition: all 1s;
    width: 30px;
    height: 30px;
    background: white;
    box-sizing: border-box;
    border-radius: 25px;
    border: 4px solid white;
    padding: 5px;
    margin-left: 70%;
    margin-top: 15%;
}
}

#search{
    position: absolute;
    top: -4px;
    left: -10px;
    width: 100%;;
    height: 30px;
    line-height: 30px;
    outline: 0;
    border: 0;
    display: none;
    font-size: 1em;
    border-radius: 20px;
    padding: 0 20px;
}

.fa{
    box-sizing: border-box;
    padding: 10px;
    width: 30px;
    height: 30px;
    position: absolute;
    top: -5px;
    right: 0;
    border-radius: 50%;
    color: #07051a;
    text-align: center;
    font-size: 1.2em;
    transition: all 1s;
}

#searchfrm:hover{
    width: 200px;
    cursor: pointer;
}

#searchfrm:hover #search{
    display: block;
}

#searchfrm:hover .fa{
    background: #07051a;
    color: white;
}

.actors{
  margin-bottom: 50px;
}

.show-frm{
  overflow: hidden;
}

.show-frm .btn{
  padding-left: 0;
  font-size: inherit;
}

#rat{
  cursor: pointer;
}

.btn-glyphicon{
  border: none;
  background: transparent;
}

#remove-row{
  width: 100%;
}